/*If the screen is 768px or smaller, then...*/
@media screen and (min-width: 768px) {
    /*Lets all the elements move around with screen width with Flex, center is obvious,
    space between keeps things tidy, padding is for the word space from the borders
    and margin messes with the background color reaching the edge or not...*/
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        margin: 0px;
    }
    /*YEET the margin space because it tango's with the background color for SOME reason...*/
    body {
        margin: 0px;
    }
}
/*When screen is 768px+ then...??? the @media portion wasn't very clear in my opinion...*/

/*This makes the Header have NO margin space for the background,
the background color off white, and the font change from default!*/
header {
    margin: 0px;
    background-color: #F2F2F2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*This gets rid of that pesky white area of a margin that's there by default,
and changes the font from default!*/
body {
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*This makes the MAIN part of the HTML have a 5 pixel border from the edge of the page,
and a 20% padding from the words from the TOP and BOTTOM of the page! (0% is Left and Right!)
And a font change from Default.*/
main {
    margin: 5px;
    padding: 20% 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*This changes Heading 1's text to Cyan colors!*/
h1 {
    color: #20a8b4;
}
/*This changes Heading 2's text to Cyan colors!*/
h2 {
    color: #20a8b4;
}
/*This makes the TEXT White, the Button Cyan, 
the space from the edge of the box from the words 12 pixels, 
the Corners Rounded, and the actual Border the same color as the button!*/
button {
    color: white;
    background-color: #20a8b4;
    padding: 12px;
    border-radius: 10px;
    border-color: #20a8b4;
}
/*This gets rid of the UNDERLINE on the Links!!!*/
a {
    text-decoration: none;
}
/*This makes the Links orange when you hover over them!*/
a:hover {
    color: #ff5c0f;
}
/*This makes the BUTTONS change to orange when you hover over them!*/
button:hover {
    background-color: #ff5c0f;
    border-color: #ff5c0f;
}
/*This makes the Image hang off the right side of the page!*/
/*Going to be 1000% honest here, I have no idea if I was supposed to nest this or not, but ffs I couldn't get this to NOT show up in a smaller window
I AM DOING MY BEST, AND MY BEST IS NOT VERY GOOD*/
#html-image {
    width: 650px;
    float: right;
}
/*This makes the list horizontal, and 5 pixels from the edge of the page!*/
.nav-list li {
    display: inline-flex;
    margin: 5px;
    font-size: 16px;
}